@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root{
    --fonte1: 'Rowdies', Arial, Helvetica, sans-serif;
    --fonte2: 'Handlee', cursive, sans-serif;

    --cor1: #011627;
    --cor2: #E9D985;
    --cor3: #f3dfa2;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    min-height: 100vh;
    background-color: var(--cor3);
}

header{
    text-align: center;
    background-color: var(--cor1);
    color: white;
}

header>h1{
    padding-top: 50px;
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-size: 8vw;
}

header>p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    text-decoration: underline;
}

section>pre{
    white-space: pre-line;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonte2);
    font-weight: bold;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem>pre{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
    padding: 5px;
    margin: 25px;
}

section#img01{
    background-image: url(imagens/catedral.jpg);
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: var(--cor1);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}